/*
 *  Copyright 2017 Nicholas Moehle
 *  
 *  This file is part of CVXPY-CODEGEN.
 *  
 *  CVXPY-CODEGEN is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  CVXPY-CODEGEN is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with CVXPY-CODEGEN.  If not, see <http://www.gnu.org/licenses/>.
 */

{% from 'linop_sym/linop_sym.c.jinja' import linop_handler_workspace with context %}
{% from 'param/param.c.jinja' import param_handler_workspace with context %}


typedef struct params_struct{
    {% for p in params %}
    double {{ p.name() -}}
        {%- if p.size == (1,1) -%}
        {%- elif p.size[1] == 1 -%}
            [{{ p.size[0] }}]
        {%- elif p.size[0] == 1 -%}
            [{{ p.size[1] }}]
        {%- else -%}
            [{{ p.size[0] }}][{{ p.size[1] }}]
        {%- endif -%};
    {% endfor %}
} Params;


typedef struct work_struct{

    {{ linop_handler_workspace() }}

    {{ param_handler_workspace() }}

    /* Storage for integer and double workspaces. */
    long work_int[{{ work_int }}];
    double work_double[{{ work_float }}];

} Work;
