/*
 *  Copyright 2017 Nicholas Moehle
 *  
 *  This file is part of CVXPY-CODEGEN.
 *  
 *  CVXPY-CODEGEN is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  CVXPY-CODEGEN is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with CVXPY-CODEGEN.  If not, see <http://www.gnu.org/licenses/>.
 */


#include "codegen.h"
#include <stdio.h>


void json_vector_long(long *x, long len){
    long i;
    printf("[");
    if (len > 0){
      for (i=0; i<len-1; i++){
          printf("%ld,", x[i]);
      }
      printf("%ld", x[len-1]);
    }
    printf("]");
}

void json_vector_double(double *x, long len){
    long i;
    printf("[");
    if (len > 0){
      for (i=0; i<len-1; i++){
          printf("%9.9lf,", x[i]);
      }
      printf("%9.9lf", x[len-1]);
    }
    printf("]");
}



int main(){
    
    Params params;
    Work work;

    {% for p in named_params %}
      {%- if p.is_scalar -%}
    params.{{ p.name }} = {{ p.value }};
      {%- elif p.is_column -%}
        {% for i in range(p.size[0]) %}
    params.{{ p.name }}[{{ i }}] = {{ p.value[i,0] }}; {# TODO should have no 0 idx? #}
        {% endfor %}
      {%- elif p.is_row -%}
        {% for j in range(p.size[1]) %}
    params.{{ p.name }}[{{ j }}] = {{ p.value[0,j] }};
        {% endfor %}
      {%- else -%}
        {% for i in range(p.size[0]) %}
          {% for j in range(p.size[1]) %}
    params.{{ p.name }}[{{ i }}][{{ j }}] = {{ p.value[i,j] }};
          {% endfor %}
        {% endfor %}
      {%- endif -%};
    {% endfor %}


    fill_param_tree(&params, &work);

    fill_matrices(&params, &work);


    printf("{");

      /* Objective constraint. */
      printf("\"obj_coeff\":");
        json_vector_double(work.obj_coeff, {{ x_length }});
      printf(",");
      printf("\"obj_offset\":%9.9lf", work.obj_offset);

      /* Equality constraint. */
      printf(",");
      printf("\"eq_size0\":%ld", {{ eq_dim }});
      printf(",");
      printf("\"eq_size1\":%ld", {{ x_length }});

      printf(",");
      printf("\"eq_colptr\":");
        json_vector_long(work.eq_colptr, {{ x_length+1 }});

      printf(",");
      printf("\"eq_rowidx\":");
        json_vector_long(work.eq_rowidx, {{ eq_coeff.nnz }});

      printf(",");
      printf("\"eq_nzval\":");
        json_vector_double(work.eq_nzval, {{ eq_coeff.nnz }});

      printf(",");
      printf("\"eq_offset\":");
        json_vector_double(work.eq_offset, {{ eq_dim }});

      /* Inequality constraint. */
      printf(",");
      printf("\"leq_size0\":%ld", {{ leq_dim }});
      printf(",");
      printf("\"leq_size1\":%ld", {{ x_length }});

      printf(",");
      printf("\"leq_colptr\":");
        json_vector_long(work.leq_colptr, {{ x_length+1 }});

      printf(",");
      printf("\"leq_rowidx\":");
        json_vector_long(work.leq_rowidx, {{ leq_coeff.nnz }});

      printf(",");
      printf("\"leq_nzval\":");
        json_vector_double(work.leq_nzval, {{ leq_coeff.nnz }});

      printf(",");
      printf("\"leq_offset\":");
        json_vector_double(work.leq_offset, {{ leq_dim }});

    printf("}");

    return(0);
}
