{% import "utils/utils.c.jinja" as u with context %}

{#
{% from "linops/MulExpression/MulExpression.c.jinja" import MulExpression_declare, MulExpression_define, MulExpression_eval with context%}
#}
{% from "linop/linops/sum.c.jinja" import sum_declare, sum_define, sum_eval with context%}
{% from "linop/linops/index.c.jinja" import index_declare, index_define, index_eval with context%}
{% from "linop/linops/null.c.jinja" import null_declare, null_define, null_eval with context%}
{#
{% from "linops/max_entries/max_entries.c.jinja" import max_entries_declare, max_entries_define, max_entries_eval with context%}
#}
{% from "linop/linops/neg.c.jinja" import neg_declare, neg_define, neg_eval with context%}
{# TODO make nicer ^^^ #}


{% macro declare(macro_name) %}
  {{- (macro_name+'_declare') | call_macro() -}}
{% endmacro %}


{% macro define(macro_name) %}
  {{- (macro_name+'_define') | call_macro() -}}
{% endmacro %}


{% macro eval(expr) %}
  {%- if expr.make_copy -%}
  {{- u.copy_linop_eval(expr) -}}
  {%- endif -%}
  {{- (expr.macro_name+'_eval') | call_macro(expr) -}}
{% endmacro %}
