{% import "utils/utils.c.jinja" as u with context %}


{% macro neg_declare() -%}
void neg(long nnz, double *Ax);
{%- endmacro %}


{% macro neg_define() %}
void neg(long nnz, double *Ax){
  long i;
  for(i=0; i<nnz; i++){
    Ax[i] = -Ax[i];
  }
}
{% endmacro %}


{% macro neg_eval(expr) %}
neg({{ expr.sparsity.nnz }}l, {{ u.nzval(expr) }});
{% endmacro %}
