/*
 *  Copyright 2017 Nicholas Moehle
 *  
 *  This file is part of CVXPY-CODEGEN.
 *  
 *  CVXPY-CODEGEN is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  CVXPY-CODEGEN is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with CVXPY-CODEGEN.  If not, see <http://www.gnu.org/licenses/>.
 */

{% import "utils/utils.c.jinja" as u with context %}
{% from 'expr_handler/expr_handler.c.jinja'
        import expr_handler_workspace with context %}
{% from 'solvers/'+solver_name+"_intf.c.jinja" import solver_workspace with context %}


typedef struct params_struct{
    {% for p in named_params %}
    double {{ p.name -}}
        {%- if p.is_scalar -%}
        {%- elif p.is_column -%}
            [{{ p.shape[0] }}]
        {%- elif p.is_row -%}
            [{{ p.shape[1] }}]
        {%- else -%}
            [{{ p.shape[0] }}][{{ p.shape[1] }}]
        {%- endif -%};
    {% endfor %}
} Params;


typedef struct csr_matrix{
    long *p;
    long *j;
    double *x;
    long m;
    long n;
    long nnz;
} CsrMatrix;


typedef struct csc_matrix{
    long *p;
    long *i;
    double *x;
    long m;
    long n;
    long nnz;
} CscMatrix;


typedef struct linop_coeff{
    long *p;
    long *j;
    double *x;
    long m;
    long n;
    long nnz;
    long m_var; /* Shape of the represented variable. */
    long n_var; /* Note that m_var * n_var = m. */
} LinopCoeff;


typedef struct work_struct{

    {{ expr_handler_workspace() }}

    {{ solver_workspace(include_solver=False) }}

    /* Storage for integer and double workspaces. */
    long work_int[{{ work_int }}];
    double work_double[{{ work_float }}];
    CsrMatrix work_varargs[{{ work_varargs }}];
    LinopCoeff work_coeffs[{{ work_coeffs }}];
} Work;
