/*
 *  Copyright 2017 Nicholas Moehle
 *  
 *  This file is part of CVXPY-CODEGEN.
 *  
 *  CVXPY-CODEGEN is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  CVXPY-CODEGEN is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with CVXPY-CODEGEN.  If not, see <http://www.gnu.org/licenses/>.
 */

#include "codegen.h"
#include <stdio.h> // TODO


/* Functions defined in solver interface. */
void solver_solve(Work *work);


/* Function declarations */
void recover_vars(Work *work, Vars *vars);
void eval_exprs(Params *params, Work *work);
void fill_matrices(Work *work);
void expr_handler_init(Work *work);
void solver_init(Work *work);


/* Initialization function. */
void cg_init(Work *work){
    
    expr_handler_init(work);
    solver_init(work);
}


/* Main solve function */
int cg_solve(Params *params, Work *work, Vars *vars){

    /* Evaluate expressions. */
    eval_exprs(params, work);

    /* Fill the data matrices using the parameters */
    fill_matrices(work);

    /* Call the solver to solve the problem */
    solver_solve(work);

    /* Get the user-defined variable values */
    recover_vars(work, vars);

    return(work->status);
}


void recover_vars(Work *work, Vars *vars){
    {% if named_vars %}
    int i, j;
    {% endif %}
    {% for var in named_vars %}
    for(i=0; i<{{ var.shape[0] }}; i++){
        for(j=0; j<{{ var.shape[1] }}; j++){
            vars->{{ var.name }}[i][j] = *(work->primal_var + {{ var_offsets[var.id] }} + i + {{var.shape[0]}}*j);
        }
    }
    {% endfor %}
}
