/*
 *  Copyright 2017 Nicholas Moehle
 *  
 *  This file is part of CVXPY-CODEGEN.
 *  
 *  CVXPY-CODEGEN is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  CVXPY-CODEGEN is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with CVXPY-CODEGEN.  If not, see <http://www.gnu.org/licenses/>.
 */

{% import "utils/utils.c.jinja" as u with context %}


{% macro diag_vec_declare() %}
void diag_vec(long m,
           long *Ap, long *Aj, double *Ax,
           long *Zp, long *Zj, double *Zx);
{% endmacro %}


{% macro diag_vec_define() %}
void diag_vec(long m,
          long *Ap, long *Aj, double *Ax,
          long *Zp, long *Zj, double *Zx){
  long i, p, p2;

  for (i=0; i<=m; i++)  Zp[i] = Ap[i];
  for (i=0; i<m; i++){
    p2 = Ap[i+1];
    for (p=Ap[i]; p<p2; p++){
      Zj[p] = i;
      Zx[p] = Ax[p];
    }
  }
}
{% endmacro %}


{% macro diag_vec_eval(expr) %}
diag_vec({{ expr.args[0].size[0] }}l,
{{- u.rowptr(expr.args[0]) }},
{{- u.colidx(expr.args[0]) }},
{{-  u.nzval(expr.args[0]) }},
{{- u.rowptr(expr) }},
{{- u.colidx(expr) }},
{{-  u.nzval(expr) }});
{% endmacro %}
