/*
 *  Copyright 2017 Nicholas Moehle
 *  
 *  This file is part of CVXPY-CODEGEN.
 *  
 *  CVXPY-CODEGEN is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  CVXPY-CODEGEN is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with CVXPY-CODEGEN.  If not, see <http://www.gnu.org/licenses/>.
 */


{% import "utils/utils.c.jinja" as u with context %}
{% from 'param/param.c.jinja' import param_workspace with context %}

#include "codegen.h"
#include <stdio.h>


void json_vector_long(long *x, long len){
    long i;
    printf("[");
    if (len > 0){
      for (i=0; i<len-1; i++){
          printf("%ld,", x[i]);
      }
      printf("%ld", x[len-1]);
    }
    printf("]");
}

void json_vector_double(double *x, long len){
    long i;
    printf("[");
    if (len > 0){
      for (i=0; i<len-1; i++){
          printf("%9.9lf,", x[i]);
      }
      printf("%9.9lf", x[len-1]);
    }
    printf("]");
}



int main(){
    
    Params params;
    Work work;

    {% for p in named_params %}
      {%- if p.is_scalar -%}
    params.{{ p.name }} = {{ p.value }};
      {%- elif p.is_column -%}
        {% for i in range(p.size[0]) %}
    params.{{ p.name }}[{{ i }}] = {{ p.value[i,0] }}; {# TODO should have no 0 idx? #}
        {% endfor %}
      {%- elif p.is_row -%}
        {% for j in range(p.size[1]) %}
    params.{{ p.name }}[{{ j }}] = {{ p.value[0,j] }};
        {% endfor %}
      {%- else -%}
        {% for i in range(p.size[0]) %}
          {% for j in range(p.size[1]) %}
    params.{{ p.name }}[{{ i }}][{{ j }}] = {{ p.value[i,j] }};
          {% endfor %}
        {% endfor %}
      {%- endif -%}
    {% endfor %}


    fill_param_tree(&params, &work);


    printf("{");
    {% for idx, cbp in enumerate(callback_params) %}
    {% if idx > 0 %}
    printf(",");
    {% endif %}
    printf("\"{{cbp.name}}\":{\"colptr\":");
    json_vector_long(work.{{cbp.cbp_name}}_colptr, {{cbp.size[1]+1}});
    printf(",\"rowidx\":");
    json_vector_long(work.{{cbp.cbp_name}}_rowidx, {{cbp.sparsity.nnz}});
    printf(",\"nzval\":");
    json_vector_double(work.{{cbp.cbp_name}}_nzval, {{cbp.sparsity.nnz}});
    printf("}");

    {% endfor %}
    printf("}");

    return(0);
}
