/*
 *  Copyright 2017 Nicholas Moehle
 *  
 *  This file is part of CVXPY-CODEGEN.
 *  
 *  CVXPY-CODEGEN is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  CVXPY-CODEGEN is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with CVXPY-CODEGEN.  If not, see <http://www.gnu.org/licenses/>.
 */

{% import "utils/utils.c.jinja" as u with context %}


{% macro transpose_declare() -%}
void transpose(long m, long n,
               long *Ap, long *Ai, double *Ax,
               long *Atp, long *Ati, double *Atx);
{%- endmacro %}


{% macro transpose_define() %}
void transpose(long m, long n,
               long *Ap, long *Ai, double *Ax,
               long *Atp, long *Ati, double *Atx){
    long i, j, k, ind;


    for (k=0; k<=m; k++)  Atp[k] = 0;
    for (k=0; k<Ap[n]; k++) Atp[Ai[k]+1]++;
    for (j=0; j<m; j++) Atp[j+1] += Atp[j];

    for (j=0; j<n; j++){
        for (k=Ap[j]; k<Ap[j+1]; k++){
            i = Ai[k];
            ind = Atp[i];
            Ati[ind] = j;
            Atx[ind] = Ax[k];
            Atp[i]++;
        }
    }
    for (j=m; j>0; j--){
        Atp[j] = Atp[j-1];
    }
    Atp[0] = 0;
}
{% endmacro %}


{% macro transpose_eval(expr) %}
transpose({{ expr.shape[0] }}, {{ expr.shape[1] }},
          {{ u.rowptr(expr.args[0]) }}, {{ u.colidx(expr.args[0]) }}, {{ u.nzval(expr.args[0]) }},
          {{ u.rowptr(expr) }}, {{ u.colidx(expr) }}, {{ u.nzval(expr) }});
{% endmacro %}






