{% import "utils/utils.c.jinja" as u with context %}

{% from "atoms/add/add_coeffs.c.jinja"
      import add_coeffs_declare, add_coeffs_define, add_coeffs_eval with context%}
{% from "atoms/add/null.c.jinja"
      import null_declare, null_define, null_eval with context%}
{% from "atoms/index/index_coeffs.c.jinja"
      import index_coeffs_declare, index_coeffs_define, index_coeffs_eval with context%}
{% from "atoms/neg/neg_coeffs.c.jinja"
      import neg_coeffs_declare, neg_coeffs_define, neg_coeffs_eval with context%}
{% from "atoms/reshape/reshape_coeffs.c.jinja" 
      import reshape_coeffs_declare, reshape_coeffs_define, 
             reshape_coeffs_eval with context%}
{% from "atoms/sum/sum_coeffs.c.jinja" 
      import sum_coeffs_declare, sum_coeffs_define, sum_coeffs_eval with context%}
{% from "atoms/transpose/transpose_coeffs.c.jinja" 
      import transpose_coeffs_declare, transpose_coeffs_define, 
             transpose_coeffs_eval with context%}
{% from "atoms/vstack/vstack_coeffs.c.jinja" 
      import vstack_coeffs_declare, vstack_coeffs_define,
             vstack_coeffs_eval with context%}


{% macro declare(macro_name) %}
  {{- (macro_name+'_declare') | call_macro() -}}
{% endmacro %}


{% macro define(macro_name) %}
  {{- (macro_name+'_define') | call_macro() -}}
{% endmacro %}


{% macro eval(expr) %}
  {%- if expr.make_copy -%}
  {{- u.copy_linop_eval(expr) -}}
  {%- endif -%}
  {{- (expr.macro_name+'_eval') | call_macro(expr) -}}
{% endmacro %}
