/*
 *  Copyright 2017 Nicholas Moehle
 *  
 *  This file is part of CVXPY-CODEGEN.
 *  
 *  CVXPY-CODEGEN is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  CVXPY-CODEGEN is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with CVXPY-CODEGEN.  If not, see <http://www.gnu.org/licenses/>.
 */

{% import "utils/utils.c.jinja" as u with context %}


{% macro scalar_add_declare() %}
void scalar_add(long nnz, double alpha, double *Bx);
{% endmacro %}


{% macro scalar_add_define() %}
void scalar_add(long nnz, double alpha, double *Bx){

  long p;
  for(p=0; p<nnz; p++){
    Bx[p] += alpha;
  }
}
{% endmacro %}


{% macro scalar_add_eval(expr) %}
scalar_add({{ expr.sparsity.nnz }}l,
{{-  u.nzval(expr.args[0]) }}[0],
{{-  u.nzval(expr) }});
{% endmacro %}
