/*
 *  Copyright 2017 Nicholas Moehle
 *  
 *  This file is part of CVXPY-CODEGEN.
 *  
 *  CVXPY-CODEGEN is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  CVXPY-CODEGEN is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with CVXPY-CODEGEN.  If not, see <http://www.gnu.org/licenses/>.
 */

{% import "utils/utils.c.jinja" as u with context %}


{% macro scalar_add_declare() %}
void scalar_add(double alpha, CsrMatrix Bx);
{% endmacro %}


{% macro scalar_add_define() %}
void scalar_add(double alpha, CsrMatrix Bx){
  long p, nnz=Bx.nnz;
  for(p=0; p<nnz; p++){
    B.x[p] += alpha;
  }
}
{% endmacro %}


{% macro scalar_add_eval(expr) %}
scalar_add(work->{{- expr.args[0].storage.name }}[0],
           work->{{- expr.storage.name }} }});
{% endmacro %}
